<!DOCTYPE html>
<html lang = "en">
<haed>
    <meta charset = "UTF-8">
    <title>Main</title>
</head>
<body>
   <table border = "1">
    <tr>
        <td>번호</td>
        <td>제목</td>
        <td>등록시간</td>
        <td>수정시간</td>
    </tr>
    {% for item in boardList %}
    <tr>
        <td>{{ item.id }}</td>
        <td><a href = "{% url 'detail' board=item.id %}">{{ item.title }}</a></td>
        <td>{{ item.createDate }}</td>
        <td>{{ item.updateDate }}</td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>